<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lekiwi_ros2_control" params="name use_fake_hardware">

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_fake_hardware}">
                    <plugin>lekiwi_hardware/LeKiwiInterface</plugin>
                    <param name="use_serial">true</param>
                    <param name="serial_port">/dev/ttyUSB0</param>
                    <param name="serial_baudrate">1000000</param>
                </xacro:unless>
            </hardware>
            <joint name="joint7">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="motor_id">7</param>
                <param name="direction">-1</param>
                <param name="control_mode">velocity</param>
            </joint>
            <joint name="joint8">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="motor_id">8</param>
                <param name="direction">-1</param>
                <param name="control_mode">velocity</param>
            </joint>
            <joint name="joint9">
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="motor_id">9</param>
                <param name="direction">-1</param>
                <param name="control_mode">velocity</param>
            </joint>

        </ros2_control>

  </xacro:macro>

</robot>
